* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

.container {
    text-align: center;
    padding: 10px 0;
}

.title {
    margin: 12px 0;
}

.clock-container {
    margin: 40px auto;
    font-size: 28px;
}

.clock-container tr td {
    padding: 10px;
}

.footer-note {
    text-align: center;
}